$background-color-purple: #739AFF;
$background-color-dark-purple: #565ABB;
$background-color-grayed-purple: #6268C6;
$background-color-dirty-purple: #7073C1;

$font-color-black: #1E1E1E;
$font-color-gray: #C4C4C4;

$color-white: #FFFFFF;
$color-gray: #D0CFCF;
$color-light-green: #4DE1C1;
$color-dark-green: #04CEA2
