@mixin triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #676767;
  cursor: pointer;
}

@mixin triangle-down {
  @include triangle-up;
  transform: rotate(180deg);
}
